<form (submit)="updateTask(task.id)">
    <div class="card border-secondary mb-3" style="max-width: 24rem; ">
        <div class="card-header">TODO N° {{task.id}}</div>
        <div class="card-body text-secondary">
          <!-- <h5 class="card-title">{{task.author.firstName}} {{task.author.lastName}}</h5> -->
          <textarea name="text" id="" cols="30" rows="2" autofocus [(ngModel)]="task.text" ></textarea>
        </div>
      </div>
    
    <!-- <div class="form-group">
        <label for="text"> todo text</label>
        <input type="text" name="newText" id="text" class="form-control" [(ngModel)]="task.text">
    </div> -->


    <button class="btn btn-info">update</button>
   
</form>



