.attShare{
    text-decoration: none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
}

.example-spacer {
    flex: 1 1 auto;
  }
  
  .btn{
   height: 40px;
   border-radius: 15px;
   text-align: center;
  }