.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date{
    margin-top: 30px;
}

.main{

margin-left: 35%;
margin-top: 3%;
}
#submitBtn{
    align-items: center;
}