<!-- <form (submit)="addTask(task)">
    
    <div class="form-group">
        <label for="text"> todo text</label>
        <input type="text" name="text" id="text" class="form-control" [(ngModel)]="task.text">
    </div>

    <button class="btn btn-success">add</button>
   
</form>

 -->

 <form class="example-form" (submit)="addTask(task)">
    <mat-form-field class="example-full-width">
      <mat-label>new task ...</mat-label>
      <textarea matInput placeholder="Do it your way..." [(ngModel)]="task.text" name="text"></textarea>
    </mat-form-field>

   
    
    
    <button class="btn btn-success">add</button>
  </form>
  
 