<form class="example-form" (submit)="addTask(task)">


  <mat-form-field class="example-full-width">
    <mat-label>new task ...</mat-label>
    <textarea matInput placeholder="Do it your way..." cols="30" rows="2" [(ngModel)]="task.text"
      name="text"></textarea>

  </mat-form-field>


  <!-- <div class="p-field p-col-8 p-md-2">
    <label>Due date</label>
    <p-calendar [showTime]="true" hourFormat="24" dateFormat="yy-mm-dd" [iconDisplay]="'input'"
      [showIcon]="true"></p-calendar>
  </div> -->

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="changeDate($event)"  >
    <mat-hint>MM/DD/YYYY </mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button class="btn btn-success">add</button>



</form>

<!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate">
    <mat-hint>MM/DD/YYYY </mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->