<!-- <form class="example-form" (submit)="addTask(task)">


  <mat-form-field class="example-full-width">
    <mat-label>new task ...</mat-label>
    <textarea matInput placeholder="Do it your way..." cols="30" rows="2" [(ngModel)]="task.text"
      name="text"></textarea>

  </mat-form-field>

   <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="changeDate($event)"  >
    <mat-hint>MM/DD/YYYY </mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> 

  <button class="btn btn-success">add</button>



</form> -->
<div class="main">

  <form class="example-form" (submit)="addTask(task)">

    <p-card header="New task" subheader="" [style]="{ width: '450px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>

      <!-- card body-->
      <div class="cardBody">
        <div class="description">
          <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="task.text" name="text"></textarea>
            <label for="float-input">Description</label>
          </span>

        </div>

        <div class="date">
          <mat-form-field>
            <mat-label>Set due date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="changeDate($event)">

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="time">
          
          <input matInput type="text" placeholder="Set time HH:mm" [ngxTimepicker]="timepicker"  [format]='24'>
          <ngx-material-timepicker #timepicker  (timeChanged)="changeTime($event)"></ngx-material-timepicker>
        </div>
      </div>
      <!-- card body-->
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check" type="submit"></p-button>
      </ng-template>
    </p-card>

  </form>
</div>