<div>
    <h5>Task list </h5>
</div>

<table class="table table-striped">

    <thead>
        <tr>
            <th>N°</th>
            <th>text </th>
            <th>author</th>
            <th> actions
            </th>


        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.text}}</td>
            <td>{{task.author.firstName}}</td>
            <td><button class="btn btn-light" (click)="viewTask(task.id)">view </button></td>
            <td><button class="btn btn-info" (click)="updateTask(task.id)">edit </button></td>
            <td> <button class="btn btn-danger" (click)="deleteTask(task.id)">delete </button></td>
        </tr>




    </tbody>
</table>